main {
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1C1B1B;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../Images/chatting.jpg');
  }
  
  .chat-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    height: 90%;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #2196f3;
    color: #fff;
  }
  
  .header h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  
  .catchy-line {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px #000;
    margin-bottom: 5px;
  }
  .chatbox {
    flex: 1;
    overflow: auto;
    padding: 20px;
  }
  
  .input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
  }
  .message-container {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  
  .me,
  .other {
    font-weight: bold;
    text-transform: capitalize;
  }
  
  .my-message,
  .other-message {
    display: inline-block;
    max-width: 80%;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
  }
  
  .my-message {
    background-color: #2196f3;
    color: #fff;
    text-align: right;
  }
  
  .other-message {
    background-color: #f2f2f2;
    color: #333;
  }
  
  .time {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #aaa;
  }
  .background-dropdown {
    /* position: absolute; */
    top: 20px;
    right: 20px;
  }
  
  .background-dropdown label {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #555;
  }
  
  .background-dropdown select {
    background-color: #fff;
    color: #555;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .background-dropdown select option {
    padding: 5px;
  }
  
  .input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d9e9ff;
  }
  
  .input-box form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .input-box input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f7f7f7;
    color: #333;
    margin-right: 10px;
  }
  
  .input-box button[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #0077c2;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  .input-box button[type="submit"]:hover{
    background-color: #005ea6;
  }
  
  
  
  #refresh-btn,
  #logout-btn {
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
  }
  
  #refresh-btn {
    background-color: #f2f2f2;
    color: #555;
  }
  
  #logout-btn {
    background-color: #ff0000;
    color: #fff;
  }
  
  #refresh-btn:hover,
  #logout-btn:hover {
    opacity: 0.8;
  }
  .user-icon {
    border: 1px solid black;
  }
  .user-icon {
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 50%;
    margin-right: 10px; }
  
    i{
        width: 100px;
    }